body {
    padding: 0;
    margin: 0;
    background: #fefefe;
    color: #252525;
}

a {
    color: #0070dd;
}

table th {
    text-align: left;
    padding: 5px 0;
}

table td {
    text-align: right;
}

div#top-bar {
    width: 100%;
    padding: 25px 0;
    border-bottom: 1px solid #e9e9e9;
    margin-top: 30vh;
}

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
}

div#topbar img.logo {
    width: 240px;
    cursor: pointer;
}

div.button {
    padding: 10px;
    font-family: 'Roboto';
    text-transform: uppercase;
    float: right;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: 700;
    margin: 10px 25px 0 25px;
    cursor: pointer;
}

div.apply {
    background: #ff8000;
    color: #fff;
    margin-right: 0;
}

div.front-page {
    float: left;
}

div.next-raid {
    padding: 5px 25px;
    margin: 15px 0 0 30px;
    font-family: 'Roboto';
    border-left: 1px solid #e9e9e9;
    float:left;
}

div.rank {
    padding: 5px 25px;
    font-family: 'Roboto';
    margin: 15px 0;
    border-left: 1px solid #e9e9e9;
    float: left;
}

div#logs a {
    color: #0070dd;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #e9e9e9;
    margin: 20px 0;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 1.1em;
    font-weight: 700;
}

div#logs .icon {
    width: 25px;
    margin: -7px 10px 0 0;
    float: left;
}

div#apply label {
    width: 100%;
    display: block;
    Margin-top: 20px;
    font-family: 'Roboto';
    padding: 10px 0;
}

div#apply input[type="text"] {
    padding: 5px;
    border: 1px solid #dcdcdc;
    font-family: 'Roboto';
    font-size: 2em;
}

div#apply .apexp {
    font-size: .8em;
    color: grey;
}

div#apply textarea {
    padding: 5px 10px;
    font-family: 'Roboto';
    width: 600px;
    height: 110px;
    font-size: 1.2em;
}

div#apply button {
    background: #ff8000;
    color: #fff;
    padding: 10px;
    font-family: 'Roboto';
    text-transform: uppercase;
    float: right;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: 700;
    margin: 10px 25px 0 25px;
    cursor: pointer;
}