body {
    padding: 0;
    margin: 0;
    background: #fafafa;
}

body.splash {
    background: #f5f5f5;
}

img#splash-logo {
    float:left;
    padding: 25px;
}

div.front-page {
    float: left;
}

div.next-raid {
    padding: 10px 25px;
    margin: 10px 0;
    font-family: 'Roboto';
    background: #ff8000;
    color: #fff;
    font-size: 1.17em;
}

div.logs, div.rank {
    padding: 25px;
    font-family: 'Roboto';
    font-size: 1.17em;
    margin: 10px 0;
    border-left: 1px solid #ccc;
}